# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
.venv/

# VSCode settings
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs and reports
*.log
*.zip
*.xlsx
*.pdf
*.png
